#footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4vh;

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
}
